@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/btn.scss */
.btn-mini, .btn-small {
  font-size: 12px;
}

/* YeahUI 按钮样式 */
/* line 14, ../sass/btn.scss */
.btn {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  margin-bottom: 0;
  padding: 6px 12px;
  font-weight: 400;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  line-height: 1.4;
  user-select: none;
  outline: 0;
  background-image: none;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-raduis: 3px;
  -webkit-border-radius: 3px;
  border: 1px solid transparent;
}

/* line 32, ../sass/btn.scss */
.btn-round {
  border-radius: 100px !important;
  -o-border-radius: 100px !important;
  -ms-border-radius: 100px !important;
  -moz-border-raduis: 100px !important;
  -webkit-border-radius: 100px !important;
}

/* line 36, ../sass/btn.scss */
.btn-blank {
  background: #FFF !important;
}

/* line 40, ../sass/btn.scss */
.btn-blank.btn-primary {
  color: #009688;
}
/* line 43, ../sass/btn.scss */
.btn-blank.btn-primary:hover {
  background-color: #009688 !important;
  color: #009688;
}

/* line 49, ../sass/btn.scss */
.btn-blank.btn-info {
  color: #1E9FFF;
}
/* line 52, ../sass/btn.scss */
.btn-blank.btn-info:hover {
  background-color: #1E9FFF !important;
  color: #FFF;
}

/* line 58, ../sass/btn.scss */
.btn-blank.btn-warning {
  color: #F7B824;
}
/* line 61, ../sass/btn.scss */
.btn-blank.btn-warning:hover {
  background-color: #F7B824 !important;
  color: #FFF;
}

/* line 67, ../sass/btn.scss */
.btn-blank.btn-success {
  color: #5FB878;
}
/* line 70, ../sass/btn.scss */
.btn-blank.btn-success:hover {
  background-color: #5FB878 !important;
  color: #FFF;
}

/* line 76, ../sass/btn.scss */
.btn-blank.btn-danger {
  color: #FF5722;
}
/* line 79, ../sass/btn.scss */
.btn-blank.btn-danger:hover {
  background-color: #FF5722 !important;
  color: #FFF;
}

/* YeahUI迷你按钮 */
/* line 87, ../sass/btn.scss */
.btn-mini {
  padding: 1px 5px;
  line-height: 1.5;
}

/* YeahUI小型按钮 */
/* line 94, ../sass/btn.scss */
.btn-small {
  padding: 5px 10px;
  line-height: 1.5;
}

/* YeahUI大型按钮 */
/* line 101, ../sass/btn.scss */
.btn-large {
  font-size: 16px;
  padding: 10px 16px;
  line-height: 1.3;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-raduis: 5px;
  -webkit-border-radius: 5px;
}

/* YeahUI默认按钮 */
/* line 109, ../sass/btn.scss */
.btn-default {
  color: #333;
  background-color: #FFF;
  border-color: #e2e2e2;
}
/* line 113, ../sass/btn.scss */
.btn-default:hover {
  border-color: #CCC;
}

/* 首选按钮 */
/* line 119, ../sass/btn.scss */
.btn-primary {
  color: #FFF;
  border-color: #009688;
  background-color: #009688;
}
/* line 122, ../sass/btn.scss */
.btn-primary:hover {
  border-color: #0A9674;
  background-color: #0A9674;
}

/* 信息按钮 */
/* line 128, ../sass/btn.scss */
.btn-info {
  color: #FFF;
  border-color: #1E9FFF;
  background-color: #1E9FFF;
}
/* line 131, ../sass/btn.scss */
.btn-info:hover {
  border-color: #168BFF;
  background-color: #168BFF;
}

/* 警告按钮 */
/* line 137, ../sass/btn.scss */
.btn-warning {
  color: #FFF;
  border-color: #F7B824;
  background-color: #F7B824;
}
/* line 140, ../sass/btn.scss */
.btn-warning:hover {
  border-color: #F7A91E;
  background-color: #F7A91E;
}

/* 成功按钮 */
/* line 146, ../sass/btn.scss */
.btn-success {
  color: #FFF;
  border-color: #5FB878;
  background-color: #5FB878;
}
/* line 149, ../sass/btn.scss */
.btn-success:hover {
  border-color: #1DB870;
  background-color: #1DB870;
}

/* 危险按钮 */
/* line 155, ../sass/btn.scss */
.btn-danger {
  color: #FFF;
  border-color: #FF5722;
  background-color: #FF5722;
}
/* line 158, ../sass/btn.scss */
.btn-danger:hover {
  border-color: #FF290E;
  background-color: #FF290E;
}

/* 链接按钮，样式类似于a标签 */
/* line 164, ../sass/btn.scss */
.btn-link {
  color: #01AAED;
  background-color: transparent;
  font-weight: 400;
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-raduis: 0;
  -webkit-border-radius: 0;
}
/* line 169, ../sass/btn.scss */
.btn-link:hover {
  text-decoration: underline;
}

/* line 174, ../sass/btn.scss */
.btn-group {
  margin: 10px 0;
  clear: both;
}

/* line 179, ../sass/btn.scss */
.btn-group .btn {
  float: left;
  border-radius: 0 !important;
  -o-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -moz-border-raduis: 0 !important;
  -webkit-border-radius: 0 !important;
}
/* line 183, ../sass/btn.scss */
.btn-group .btn:first-child {
  border-radius: 3px 0 0 3px !important;
}
/* line 187, ../sass/btn.scss */
.btn-group .btn:last-child {
  border-radius: 0 3px 3px 0 !important;
}
