/* line 3, ../sass/code.scss */
.yeah-code-box {
  display: block;
  margin: 10px 0;
  padding: 0;
  border: 1px solid #31312f;
  border-left: 3px solid #f7266d;
  background-color: #161713;
  color: #FFF;
  font-family: Courier New;
  line-height: 20px;
  white-space: nowrap;
  border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-raduis: 5px;
  -webkit-border-radius: 5px;
  box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

/* line 19, ../sass/code.scss */
.yeah-code-box .yeah-code-title {
  position: relative;
  font-size: 12px;
  font-weight: 700;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #31312f;
}
/* line 27, ../sass/code.scss */
.yeah-code-box .yeah-code-title a {
  position: absolute;
  right: 10px;
  top: 0;
  color: #999;
  text-decoration: none;
}

/* line 36, ../sass/code.scss */
.yeah-code-box .yeah-code-body {
  position: relative;
  overflow: auto;
  outline: none;
}
/* line 41, ../sass/code.scss */
.yeah-code-box .yeah-code-body li {
  position: relative;
  margin-left: 0;
  padding: 0 8px;
  line-height: 20px;
  border-left: 1px solid #31312f;
  list-style-type: decimal-leading-zero;
  background-color: #272822;
  white-space: pre-wrap;
  word-wrap: break-word;
  color: #e6db74;
}

/* line 55, ../sass/code.scss */
.yeah-code-box[yeah-type="row"] .yeah-code-body li {
  margin-left: 50px;
}
