/* line 3, ../sass/common.scss */
.text-center {
  text-align: center;
}

/* line 7, ../sass/common.scss */
.text-left {
  text-align: left;
}

/* line 11, ../sass/common.scss */
.text-right {
  text-align: right;
}

/* line 16, ../sass/common.scss */
.text-white {
  color: #FFF;
}

/* line 20, ../sass/common.scss */
.text-black {
  color: #333;
}

/* line 24, ../sass/common.scss */
.text-primary {
  color: #009688;
}

/* line 28, ../sass/common.scss */
.text-info {
  color: #1E9FFF;
}

/* line 32, ../sass/common.scss */
.text-warning {
  color: #F7B824;
}

/* line 36, ../sass/common.scss */
.text-success {
  color: #5FB878;
}

/* line 40, ../sass/common.scss */
.text-danger {
  color: #FF5722;
}

/* line 44, ../sass/common.scss */
.bg-white {
  background-color: #FFF;
}

/* line 48, ../sass/common.scss */
.bg-black {
  background-color: #333;
}

/* line 52, ../sass/common.scss */
.bg-primary {
  background-color: #009688;
}

/* line 56, ../sass/common.scss */
.bg-info {
  background-color: #1E9FFF;
}

/* line 60, ../sass/common.scss */
.bg-warning {
  background-color: #F7B824;
}

/* line 64, ../sass/common.scss */
.bg-success {
  background-color: #5FB878;
}

/* line 68, ../sass/common.scss */
.bg-danger {
  background-color: #FF5722;
}

/* line 73, ../sass/common.scss */
.pull-left {
  float: left;
}

/* line 77, ../sass/common.scss */
.pull-right {
  float: right;
}

/* line 82, ../sass/common.scss */
.show {
  display: block;
}

/* line 86, ../sass/common.scss */
.hide {
  display: none;
}

/* line 90, ../sass/common.scss */
.block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 96, ../sass/common.scss */
.clearfix {
  *zoom: 1;
}

/* line 100, ../sass/common.scss */
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 107, ../sass/common.scss */
.clearfix:after {
  clear: both;
}
