/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** reset scrollbar style **/
/* line 4, ../sass/common.scss */
::-webkit-scrollbar {
  width: 8px;
  height: 10px;
}

/* line 5, ../sass/common.scss */
::-webkit-scrollbar-button:vertical {
  display: none;
}

/* line 6, ../sass/common.scss */
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner {
  background-color: #e6e6e6;
}

/* line 7, ../sass/common.scss */
::-webkit-scrollbar-thumb {
  border-radius: 10px !important;
  -o-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -moz-border-raduis: 10px !important;
  -webkit-border-radius: 10px !important;
  background-color: rgba(0, 0, 0, 0.3);
}

/* line 8, ../sass/common.scss */
::-webkit-scrollbar-thumb:vertical:hover {
  background-color: rgba(0, 0, 0, 0.35);
}

/* line 9, ../sass/common.scss */
::-webkit-scrollbar-thumb:vertical:active {
  background-color: rgba(0, 0, 0, 0.38);
}

/* line 11, ../sass/common.scss */
a, a:hover {
  text-decoration: none;
}

/* line 15, ../sass/common.scss */
.yeah-text-center {
  text-align: center;
}

/* line 19, ../sass/common.scss */
.yeah-text-left {
  text-align: left;
}

/* line 23, ../sass/common.scss */
.yeah-text-right {
  text-align: right;
}

/* line 28, ../sass/common.scss */
.yeah-text-white {
  color: #FFF;
}

/* line 32, ../sass/common.scss */
.yeah-text-black {
  color: #333;
}

/* line 36, ../sass/common.scss */
.yeah-text-primary {
  color: #009688;
}

/* line 40, ../sass/common.scss */
.yeah-text-info {
  color: #1E9FFF;
}

/* line 44, ../sass/common.scss */
.yeah-text-warning {
  color: #F7B824;
}

/* line 48, ../sass/common.scss */
.yeah-text-success {
  color: #5FB878;
}

/* line 52, ../sass/common.scss */
.yeah-text-danger {
  color: #FF5722;
}

/* line 56, ../sass/common.scss */
.yeah-bg-white {
  background-color: #FFF;
}

/* line 60, ../sass/common.scss */
.yeah-bg-black {
  background-color: #333;
}

/* line 64, ../sass/common.scss */
.yeah-bg-primary {
  background-color: #009688;
}

/* line 68, ../sass/common.scss */
.yeah-bg-info {
  background-color: #1E9FFF;
}

/* line 72, ../sass/common.scss */
.yeah-bg-warning {
  background-color: #F7B824;
}

/* line 76, ../sass/common.scss */
.yeah-bg-success {
  background-color: #5FB878;
}

/* line 80, ../sass/common.scss */
.yeah-bg-danger {
  background-color: #FF5722;
}

/* line 85, ../sass/common.scss */
.yeah-pull-left {
  float: left;
}

/* line 89, ../sass/common.scss */
.yeah-pull-right {
  float: right;
}

/* line 93, ../sass/common.scss */
.yeah-clear {
  clear: both;
}

/* line 98, ../sass/common.scss */
.yeah-show {
  display: block;
}

/* line 102, ../sass/common.scss */
.yeah-hide {
  display: none;
}

/* line 106, ../sass/common.scss */
.yeah-block-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 112, ../sass/common.scss */
.yeah-clearfix {
  *zoom: 1;
}

/* line 116, ../sass/common.scss */
.yeah-clearfix:before,
.yeah-clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 123, ../sass/common.scss */
.yeah-clearfix:after {
  clear: both;
}
