/* line 3, ../sass/component.scss */
.yeah-header {
  position: relative;
  z-index: 1000;
  height: 60px;
  padding: 0 20px;
  background-color: #393d50;
}

/* line 11, ../sass/component.scss */
.yeah-header .logo {
  font-size: 20px;
  line-height: 60px;
}

/* line 16, ../sass/component.scss */
.yeah-header * {
  color: #FFF;
}

/* line 20, ../sass/component.scss */
.yeah-header .yeah-nav {
  border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -moz-border-raduis: 0;
  -webkit-border-radius: 0;
}

/* line 25, ../sass/component.scss */
.yeah-nav {
  position: relative;
  padding: 0 20px;
  background-color: #393d50;
  color: #c2c2c2;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-raduis: 3px;
  -webkit-border-radius: 3px;
  font-size: 0;
  box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

/* line 35, ../sass/component.scss */
.yeah-nav .yeah-nav-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: 60px;
}

/* line 42, ../sass/component.scss */
.yeah-nav .yeah-nav-item a {
  display: block;
  padding: 0 20px;
  color: #c2c2c2;
  transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  font-weight: 700;
  text-decoration: none;
}

/* line 57, ../sass/component.scss */
.yeah-nav .yeah-active a,
.yeah-nav .yeah-nav-item:hover a {
  color: #FFF;
}
/* line 60, ../sass/component.scss */
.yeah-nav .yeah-active:after,
.yeah-nav .yeah-nav-item:hover:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #009688;
  transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}

/* line 76, ../sass/component.scss */
.yeah-nav * {
  font-size: 14px;
}
