/* line 3, ../sass/form.scss */
.yeah-form .yeah-checkbox, .yeah-form .yeah-radio,
.yeah-checkbox *, .yeah-radio * {
  display: inline-block !important;
  vertical-align: middle !important;
}

/* line 9, ../sass/form.scss */
.yeah-form-label, .yeah-textarea, .yeah-select dl, .yeah-checkbox {
  box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}

/* line 17, ../sass/form.scss */
.yeah-form {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* line 22, ../sass/form.scss */
.yeah-form-placeholder {
  position: relative;
  float: left;
  display: block;
  padding: 8px 0;
  margin-right: 10px;
  line-height: 20px;
  font-size: 12px;
  color: #999;
}

/* line 33, ../sass/form.scss */
.yeah-form-panel .yeah-form-label {
  background-color: #fbfbfb;
  border: 1px solid #e6e6e6;
  width: 110px;
  border-radius: 2px 0 0 2px !important;
  -o-border-radius: 2px 0 0 2px !important;
  -ms-border-radius: 2px 0 0 2px !important;
  -moz-border-raduis: 2px 0 0 2px !important;
  -webkit-border-radius: 2px 0 0 2px !important;
}

/* line 40, ../sass/form.scss */
.yeah-form-panel .yeah-input {
  border-radius: 0 2px 2px 0 !important;
  -o-border-radius: 0 2px 2px 0 !important;
  -ms-border-radius: 0 2px 2px 0 !important;
  -moz-border-raduis: 0 2px 2px 0 !important;
  -webkit-border-radius: 0 2px 2px 0 !important;
}
/* line 43, ../sass/form.scss */
.yeah-form-panel .yeah-input:disabled {
  cursor: not-allowed;
}

/* line 48, ../sass/form.scss */
.yeah-input-inline {
  display: inline-block;
  width: 190px;
  margin-right: 10px;
  float: left;
  vertical-align: middle;
}

/* line 56, ../sass/form.scss */
.yeah-form-panel .yeah-input-inline {
  position: relative;
  left: -1px;
}

/* line 61, ../sass/form.scss */
.yeah-form-panel .yeah-form-wrapper {
  margin-left: 110px;
  left: -1px;
}

/* form-group style */
/* line 67, ../sass/form.scss */
.yeah-form-group {
  margin-bottom: 15px;
  clear: both;
}

/* line 72, ../sass/form.scss */
.yeah-form-group .yeah-inline {
  margin-right: 10px;
  display: inline-block;
  position: relative;
}

/* form-label style */
/* line 79, ../sass/form.scss */
.yeah-form-label {
  float: left;
  display: block;
  padding: 7px 15px;
  width: 110px;
  font-weight: 400;
  text-align: right;
  line-height: 20px;
  position: relative;
}

/* line 91, ../sass/form.scss */
.yeah-form-wrapper {
  margin-left: 110px;
  min-height: 36px;
  position: relative;
}

/* form-input style */
/* line 98, ../sass/form.scss */
.yeah-input {
  display: block;
  width: 100%;
  padding-left: 10px;
  height: 36px;
  line-height: 36px;
  border: 1px solid #e6e6e6;
  background-color: #FFF;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-raduis: 3px;
  -webkit-border-radius: 3px;
  outline: none;
  box-sizing: border-box !important;
  -o-box-sizing: border-box !important;
  -ms-box-sizing: border-box !important;
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
}
/* line 114, ../sass/form.scss */
.yeah-input:focus, .yeah-input.focus {
  border-color: #d2d2d2;
}
/* line 118, ../sass/form.scss */
.yeah-input:disabled, .yeah-input.yeah-disabled {
  cursor: not-allowed;
}

/* form-textarea style */
/* line 124, ../sass/form.scss */
.yeah-textarea {
  min-height: 100px;
  height: auto;
  padding: 6px 10px;
  resize: vertical;
  width: 100%;
  display: block;
  border: 1px solid #e6e6e6;
  background-color: #FFF;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-raduis: 3px;
  -webkit-border-radius: 3px;
  outline: none;
}
/* line 137, ../sass/form.scss */
.yeah-textarea:focus, .yeah-textarea.focus {
  border-color: #d2d2d2;
}

/* form-select style */
/* line 143, ../sass/form.scss */
.yeah-select {
  position: relative;
}
/* line 146, ../sass/form.scss */
.yeah-select .yeah-select-title {
  position: relative;
}
/* line 150, ../sass/form.scss */
.yeah-select .icon-caret-down {
  position: absolute;
  right: 10px;
  top: 8px;
  cursor: pointer;
  font-size: 20px;
  color: #c2c2c2;
  transition: all .3s;
  -o-transition: all .3s;
  -ms-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
}
/* line 164, ../sass/form.scss */
.yeah-select dl {
  display: none;
  position: absolute;
  left: 0;
  top: 38px;
  padding: 5px 0;
  z-index: 999;
  min-width: 100%;
  border: 1px solid #d2d2d2;
  max-height: 300px;
  overflow-y: auto;
  background-color: #FFF;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-raduis: 2px;
  -webkit-border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
}
/* line 183, ../sass/form.scss */
.yeah-select dl dd {
  cursor: pointer;
  padding: 0 10px;
  line-height: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* line 190, ../sass/form.scss */
.yeah-select dl dd:hover {
  background-color: #f2f2f2;
}
/* line 194, ../sass/form.scss */
.yeah-select dl dd.yeah-current {
  color: #FFF;
  background-color: #009688;
}
/* line 201, ../sass/form.scss */
.yeah-select.yeah-focus dl {
  display: block;
}

/* form-checkbox style */
/* line 208, ../sass/form.scss */
.yeah-checkbox {
  position: relative;
  height: 30px;
  line-height: 26px;
  margin-right: 10px;
  padding-right: 30px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-raduis: 2px;
  -webkit-border-radius: 2px;
  transition: .1s linear;
  -o-transition: .1s linear;
  -ms-transition: .1s linear;
  -moz-transition: .1s linear;
  -webkit-transition: .1s linear;
  margin-top: 4px;
  background-color: #fff;
}
/* line 226, ../sass/form.scss */
.yeah-checkbox:hover {
  border-color: #d2d2d2;
  background-color: #d2d2d2;
}
/* line 228, ../sass/form.scss */
.yeah-checkbox:hover i {
  color: #d2d2d2;
}
/* line 233, ../sass/form.scss */
.yeah-checkbox.yeah-checked {
  border-color: #009688;
}
/* line 235, ../sass/form.scss */
.yeah-checkbox.yeah-checked span {
  border-color: #009688;
  background-color: #009688;
}
/* line 239, ../sass/form.scss */
.yeah-checkbox.yeah-checked i {
  color: #009688;
}
/* line 243, ../sass/form.scss */
.yeah-checkbox.yeah-checked:hover {
  color: #009688;
}
/* line 248, ../sass/form.scss */
.yeah-checkbox span {
  font-size: 14px;
  padding: 0 10px;
  height: 100%;
  background-color: #d2d2d2;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  vertical-align: initial;
}
/* line 260, ../sass/form.scss */
.yeah-checkbox i {
  background-color: #fff;
  line-height: 28px;
  width: 30px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  position: absolute;
  right: 0;
  top: 0;
}

/* form-checkbox original style */
/* line 274, ../sass/form.scss */
.yeah-checkbox.yeah-original {
  height: auto !important;
  line-height: normal !important;
  border: none !important;
  margin-right: 0;
  padding-right: 0;
  background: 0 0;
  margin-top: 8px;
}
/* line 283, ../sass/form.scss */
.yeah-checkbox.yeah-original span {
  float: right;
  padding-right: 15px;
  background: none;
  line-height: 22px;
  color: #666;
}
/* line 291, ../sass/form.scss */
.yeah-checkbox.yeah-original.yeah-checked i {
  background-color: #009688;
  border-color: #009688;
}
/* line 296, ../sass/form.scss */
.yeah-checkbox.yeah-original i {
  position: relative;
  background-color: #FFF;
  border: 1px solid #d2d2d2;
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  width: 16px;
  border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -moz-border-raduis: 2px;
  -webkit-border-radius: 2px;
}
/* line 306, ../sass/form.scss */
.yeah-checkbox.yeah-original i:hover {
  border-color: #009688;
}

/* form-radio style */
/* line 313, ../sass/form.scss */
.yeah-radio {
  padding: 6px 10px 0 0;
  line-height: 28px;
  cursor: pointer;
  font-size: 0;
}
/* line 319, ../sass/form.scss */
.yeah-radio i {
  width: 18px;
  line-height: 18px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  -moz-border-raduis: 50%;
  -webkit-border-radius: 50%;
  border: 2px solid #c2c2c2;
  text-align: center;
  color: #FFF;
  font-size: 12px;
  margin-right: 8px;
}
/* line 329, ../sass/form.scss */
.yeah-radio i:hover {
  border-color: #009688;
}
/* line 334, ../sass/form.scss */
.yeah-radio span {
  font-size: 14px;
}
/* line 339, ../sass/form.scss */
.yeah-radio.yeah-checked i {
  color: #009688;
  border-color: #009688;
}
/* line 345, ../sass/form.scss */
.yeah-radio.yeah-disabled {
  cursor: not-allowed;
}
/* line 347, ../sass/form.scss */
.yeah-radio.yeah-disabled i {
  border: 2px solid #d2d2d2;
}
/* line 351, ../sass/form.scss */
.yeah-radio.yeah-disabled span {
  color: #d2d2d2 !important;
}

/* line 357, ../sass/form.scss */
.yeah-fieldset {
  border: none;
  border-top: 1px solid #e2e2e2;
  margin: 20px 0 15px;
}

/* line 363, ../sass/form.scss */
.yeah-fieldset legend {
  padding: 0 10px;
  font-size: 20px;
  margin-left: 30px;
  font-weight: 300;
}

/* line 370, ../sass/form.scss */
.yeah-fieldset-original {
  border: 1px solid #e2e2e2;
  padding: 9px 15px;
  margin-bottom: 10px;
}
/* line 375, ../sass/form.scss */
.yeah-fieldset-original legend {
  margin-left: 20px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 400;
}
