/* line 3, ../sass/message.scss */
.yeah-message {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
  font-size: 14px;
  width: 300px;
  height: 200px;
  border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -moz-border-raduis: 3px;
  -webkit-border-radius: 3px;
  box-shadow: 1px 1px 36px rgba(0, 0, 0, 0.3);
  background-color: #FFF;
  overflow: hidden;
}
/* line 16, ../sass/message.scss */
.yeah-message .yeah-message-header {
  line-height: 40px;
  background-color: #F8F8F8;
  color: #666;
  clear: both;
  border-bottom: 1px solid #eee;
  cursor: move;
}
/* line 24, ../sass/message.scss */
.yeah-message .yeah-message-header .yeah-message-title {
  padding-left: 20px;
}
/* line 28, ../sass/message.scss */
.yeah-message .yeah-message-header .yeah-message-control {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 10px;
}
/* line 34, ../sass/message.scss */
.yeah-message .yeah-message-header .yeah-message-control i {
  cursor: pointer;
  margin-left: 6px;
  font-size: 16px;
}
/* line 42, ../sass/message.scss */
.yeah-message .yeah-message-content {
  overflow: auto;
  position: relative;
  padding: 20px;
  text-align: center;
}
/* line 49, ../sass/message.scss */
.yeah-message .yeah-message-btns {
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
/* line 55, ../sass/message.scss */
.yeah-message .yeah-message-btns .btn {
  margin: 0 6px;
}

/* line 61, ../sass/message.scss */
.yeah-resize-left-top {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: nw-resize;
}

/* line 70, ../sass/message.scss */
.yeah-resize-top {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: row-resize;
}

/* line 79, ../sass/message.scss */
.yeah-resize-right-top {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: nesw-resize;
}

/* line 88, ../sass/message.scss */
.yeah-resize-right {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: col-resize;
}

/* line 97, ../sass/message.scss */
.yeah-resize-right-bottom {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

/* line 106, ../sass/message.scss */
.yeah-resize-bottom {
  width: 15px;
  height: 15px;
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: row-resize;
}

/* line 115, ../sass/message.scss */
.yeah-resize-left-bottom {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: sw-resize;
}

/* line 124, ../sass/message.scss */
.yeah-resize-left {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: col-resize;
}

/* line 133, ../sass/message.scss */
.yeah-message-mode {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0.2;
  filter: alpha(opacity=20);
  position: fixed;
  z-index: 999998;
}
