
$primary-color: #009688;
$primary-hover-color: #0A9674;


$info-color: #1E9FFF;
$info-hover-color: #168BFF;


$warning-color: #F7B824;
$warning-hover-color: #F7A91E;


$success-color: #5FB878;
$success-hover-color: #1DB870;


$danger-color: #FF5722;
$danger-hover-color: #FF290E;


$white-color: #FFF;

$black-color: #333;

$default-color: #666;




$alert-z-index: 999999;
$message-fs: 14px;