// 首选色及首选悬浮色
$primary-color: #009688;
$primary-hover-color: #0A9674;

// 普通信息及其悬浮颜色
$info-color: #1E9FFF;
$info-hover-color: #168BFF;

// 警告色及其悬浮色
$warning-color: #F7B824;
$warning-hover-color: #F7A91E;

// 成功提示色及其悬浮色
$success-color: #5FB878;
$success-hover-color: #1DB870;

// 危险色及其悬浮色
$danger-color: #FF5722;
$danger-hover-color: #FF290E;

// 白色
$white-color: #FFF;
// 黑色
$black-color: #333;
// 正常页面默认色
$default-color: #666;