@import "variables", "mixin", "compass/reset";

/** 滚动条样式重置 **/
::-webkit-scrollbar{width: 8px; height: 10px;}
::-webkit-scrollbar-button:vertical{display: none;}
::-webkit-scrollbar-track, ::-webkit-scrollbar-corner{background-color: #e6e6e6;}
::-webkit-scrollbar-thumb{@include radius(10px !important); background-color: rgba(0,0,0,.3);}
::-webkit-scrollbar-thumb:vertical:hover{background-color: rgba(0,0,0,.35);}
::-webkit-scrollbar-thumb:vertical:active{background-color: rgba(0,0,0,.38);}

.yeah-text-center {
	text-align: center;
}

.yeah-text-left {
	text-align: left;
}

.yeah-text-right {
	text-align: right;
}


.yeah-text-white {
	color: $white-color;
}

.yeah-text-black {
	color: $black-color;
}

.yeah-text-primary {
	color: $primary-color;
}

.yeah-text-info {
	color: $info-color;
}

.yeah-text-warning {
	color: $warning-color;
}

.yeah-text-success {
	color: $success-color;
}

.yeah-text-danger {
	color: $danger-color;
}

.yeah-bg-white {
	background-color: $white-color;
}

.yeah-bg-black {
	background-color: $black-color;
}

.yeah-bg-primary {
	background-color: $primary-color;
}

.yeah-bg-info {
	background-color: $info-color;
}

.yeah-bg-warning {
	background-color: $warning-color;
}

.yeah-bg-success {
	background-color: $success-color;
}

.yeah-bg-danger {
	background-color: $danger-color;
}


.yeah-pull-left {
	float: left;
}

.yeah-pull-right {
	float: right;
}


.yeah-show {
	display: block;
}

.yeah-hide {
	display: none;
}

.yeah-block-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.yeah-clearfix {
  *zoom: 1; 
}

.yeah-clearfix:before,
.yeah-clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}

.yeah-clearfix:after {
  clear: both;
}

